.grid-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.custom-card{
    margin: 0.5rem;
}

@media screen and (max-width: 1024px) {
    .grid-card{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .grid-card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 615px) {
    .grid-card{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}